<%- include('../partials/head') %>
  </head>
<style>
  .home-card {
      transition: transform 0.2s;
    }
    .home-card:hover {
      transform: translateY(-7px);
    }
</style>
  <body class="bg-blue-100 font-sans">
    <%- include('../partials/nav') %>
      <main class="container mx-auto p-8 mt-4">
        <div class="flex flex-row justify-between items-center mb-6">
          <div class="flex flex-row">
              <div class="text-xl text-sky-950 font-bold tracking-wide mr-1">Welcome host! </div>
              <div class="text-xl text-sky-800 font-semibold"><%=user.FirstName.toUpperCase()%></div>
          </div>
         <h2 class="text-3xl text-sky-950 font-bold text-center">
          Here are your Homes.
        </h2> 
          <div class="w-1/5"></div> <!-- Empty div for balance -->
        </div>
        
        <ul class="grid grid-cols-0 sm:grid-cols-2 lg:grid-cols-4 gap-6">
          <% registerHome.forEach(home=> { %>
            <li class="home-card bg-white rounded-lg shadow-md overflow-hidden transition duration-300 hover:shadow-lg">
              <div class="relative overflow-hidden">
                <img src="<%= home.photo.url %>" alt="<%= home.Home %>" class="w-full h-48 object-cover">
              </div>

              <div class="p-6">
                <div class="flex justify-between items-start">
                  <h3 class="text-xl text-sky-800 font-semibold mb-2">
                    <%= home.Home %>
                  </h3>
                  <span class="bg-sky-100 text-sky-800 text-sm font-medium px-2.5 py-0.5 rounded-full">
                    <%= home.type %>
                  </span>
                </div>
                <p class="text-gray-600 mb-4">
                  <%= home.Location %>
                </p>
                <div class="flex justify-between items-center">
                  <div class="flex items-center space-x-2">
                    <i class="fas fa-star cursor-pointer text-amber-600"></i>
                    <span class="text-gray-600">
                      <%= home.rating %>
                        <%= home.reviews %>
                    </span>
                  </div>
                  <span class="text-l font-bold text-sky-600">$<%= home.Price %>/Night</span>
                </div>
              </div>

              <div class=" flex flex-row mt-0 ml-5 mb-5 space-x-50 ">
                <a href="/host/edit-home/<%= home._id%>?editing=true"><i
                    class="fas fa-edit text-blue-500 text-xl hover:text-blue-950"></i></a>
                <form action="/host/delete-home/<%=home._id %>" method="POST">
                  <button><i class="fas fa-trash text-red-500 text-xl hover:text-red-700"></i></button>
                </form>
              </div>
            </li>
            <% }) %>
        </ul>
      </main>
      <%- include('../partials/footerTile') %>
  </body>

  </html>